.secretaire_dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secretaire_leftSide {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.secretaire_logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.secretaire_logo {
    font-size: 1.5rem;
    margin-left: 1vw;
    color: #0077B6;
}

.secretaire_leftSide_middle {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.secretaire_list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    padding-left: 2vw;
    cursor: pointer;
}

.secretaire_list > h3 {
    margin-left: 2vw;
    font-size: 1rem;
}

.shown {
    background-color: #0077B6;
}

.white {
    color: white;
}

.secretaire_leftSide_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    margin-bottom: 5vh;
}


.secretaire_name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secretaire_name > h4 {
    margin-left: 1vh;
}

.secretaire_leftSide_bottom > img {
    cursor: pointer;
}

.secretaire_rightSide {
    width: 85%;
    height: 100%;
    background-color: #F2F5F9;
}