.update_container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update_buttons {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.update_button {
    width: 25%;
    height: 5vh;
    border: none;
    border-radius: 30px;
    background-color: #6dd5ed;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
}

.active {
    background-color: #0077b6;   
}

.update_content {
    width: 90%;
    height: auto;
}

.update_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update_input {
    width: 60%;
    height: 5vh;
    border-radius: 30px;
    outline: none;
    margin: 2vh 0 2vh 0;
    padding-left: 2vh;
    border: none;
    background-color: #464646;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.update_add {
    width: 20%;
    height: 5vh;
    background-color: #6dd5ed;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 2vh;
    transition: all 300ms ease;
}

.update_add:hover {
    background-color: white;
    color: #6dd5ed;
    border: 2px solid #6dd5ed;
}